.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    img{
        padding: 13px;
    }
    p {
        color: var(--Dark, #21243D);
        text-align: center;
        font-family: Heebo;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}