.banner {
    display: flex;
    @media(max-width:991px){
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 0px;
        margin-top: 0;
    }

    justify-content: space-between;
    align-items: center;
    max-width: 1220px;
    margin: 0 auto;
    gap: 70px;
    padding: 50px;
    margin-top: 80px;

    .menu {
        h1 {
            @media(max-width:425px){
                font-size: 30px;
                font-style: normal;
                font-weight: 700;
                line-height: 35px;
            }

            flex-shrink: 0;
            color: var(--Dark-Color, #21243D);
            font-family: Heebo;
            font-size: 44px;
            font-style: normal;
            font-weight: 700;
            line-height: 60px;
            margin: 0;
            /* 136.364% */
        }

        p {
            // width: 497px;
            // height: 66px;
            flex-shrink: 0;
            color: var(--Dark-Color, #21243D);
            font-family: Heebo;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .desp{
            width: 100%;
            max-width: 497px;
        }

        button {
            border: none;
            width: 100%;
            max-width: 200px;
            height: 100%;
            min-height: 45px;
            flex-shrink: 0;
            border-radius: 2px;
            background: var(--Primary, #FF6464);
            color: aliceblue;
        }
    }

    .hero {
        img {
            border-radius: 243px;
            padding: 60px;
            @media screen and (max-width: 991px) {
                padding: 20px;
            }
        }

    }
}